.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation: 1s show;
    top: 0px;
    left: 0px;
    background-color: #eeeeee;
    flex-direction: column;
}

.loading>b {
    color: #393e46;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 5px dashed #ffffff;
}

.loading>p {
    position: absolute;
    bottom: 0px;
    color: #9BA4B4;
    margin-bottom: 10px;
    font-size: 12px;
}

.loading>p.v {
    right: 10px;
}

.loading>p.explain {
    left: 10px;
}

.confirmEx {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

.confirmEx.show {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation: 1s show;
    z-index: 9999999999;
}

.confirmEx>.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255 255 255 / 50%);
    filter: invert(1);
    z-index: 1;
}

.confirmEx>.content {
    background-color: rgb(241 243 248 / 85%);
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    border: 4px dashed #8d93ab;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    cursor: pointer;
    z-index: 2;
}

.confirmEx>.content>.mes {
    font-size: 25px;
    color: #8d93ab;
    padding-bottom: 5px;
    border-bottom: 1px dashed #8d93ab;
}

.confirmEx>.content>.mes>div {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.confirmEx>.content>.mes>.title {
    color: #393e46;
    font-weight: bold;
}

.confirmEx>.content>.mes>.content {
    font-size: 15px;
}

.confirmEx>.content>.but {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    padding-top: 5px;
}

.confirmEx>.content>.but>button {
    cursor: pointer;
    width: 110px;
    border: 0px;
    border-radius: 3px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    color: #393b44;
    letter-spacing: 3px;
    transition: all .15s;
}

.confirmEx>.content>.but>button:hover {
    background-color: #8d93ab;
    color: #f1f3f8;
}

.confirmEx>.content>.but>button:active {
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #393b44;
    color: #f1f3f8;
}